.listContainer {
  position: absolute;

  width: 248px;
  max-height: 305px;
  padding: 34px;
  margin-top: 12px;
  margin-left: 0;
  border-radius: 12px;
  background: #313131;
}
.listBox {
  width: 180px;
  max-height: 237px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: auto;
}
.listBox::-webkit-scrollbar {
  width: 4px;
}

.listBox::-webkit-scrollbar-track {
  background: #4b4949;
}

.listBox::-webkit-scrollbar-thumb {
  width: 4px;
  height: 10px;
  border-radius: 10px;
  background-color: #ffffff;
}
.filter__button {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}
.btnText:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

.btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btnText:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
.listText:hover {
  color: #b672ff;
  text-decoration: underline;
  cursor: pointer;
}
.active {
  border-color: #9A48F1;
  color: #B672FF;
}
.filterCount {
  position: absolute;
  right: -8px;
  bottom: 20px;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: #ad61ff;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: center;
  padding: 6px;
  color: #ffffff;
}
.listTextActive {
  color: #ad61ff;
    text-decoration: underline;
}
